<%_ if (successMessage) { -%>
  <div class="alert alert-success fade show alert-dismissible text-center mb-0">
    <button class="close" data-dismiss="alert">&times;</button>
    <%= successMessage %>
  </div>
<%_ } else if (errorMessage)  { -%>
  <div class="alert alert-danger fade show alert-dismissible text-center mb-0">
    <button class="close" data-dismiss="alert">&times;</button>
    <%= errorMessage -%>
  </div>
<%_ } -%>