
<%- include('../partials/_notification') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 my-5">
      <div class="jumbotron bg-white pb-4 mb-5">
        <h1 class="display-4 text-center">Track Your Topic</h1>
        <p class="lead font-weight-light mt-3">Make log of a Topic, which you can decide to share with others. Whenever you have a new thing for a topic, you can make new entry for it and as well edit an existing entry.</p>
        <a href="/users/register" class="btn btn-success mt-3 font-weight-bold">Register &raquo;</a>
      </div>
    </div>
  </div>
</div>
<%- contentFor('title') %>
MetaLog
<style>
  
</style>