
<%- include('../partials/_notification') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%- include('../partials/_side-bar') %>
    </div>
    <div class="col-7 col-sm-6 offset-1">
      <form action="/users/change-password" method="post" class="jumbotron bg-white py-2">
        <h3 class="text-center">Change Password</h3>

        <div class="form-group">
          <label for="oldPass" class="font-weight-bold">Old Password</label>
          <input type="password" class="form-control" id="oldPass" name="oldPassword" placeholder="old password">
        </div>
        <div class="form-group">
          <label for="newPass" class="font-weight-bold">New Password</label>
          <input type="password" class="form-control" id="newPass" name="newPassword" placeholder="new password">
        </div>
        <button class="btn btn-info">Change Password</button>
        <a href="/users/<%= user._id%>" class="btn btn-danger float-right">Cancel</a>
      </form>
    </div>
  </div>
</div>
<%- contentFor('title') %>
Change Password
<style>
  .col-7 {
    margin-top: 90px;
    margin-bottom: 120px;
  }
</style>