
<%- include('../partials/_notification') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-9 col-sm-6 offset-1 offset-sm-3">
      <form action="/users/forget-password" method="post" class="jumbotron bg-white pt-2 pb-4 px-1">
        <h3 class="text-center mb-5">Recover Password</h3>

        <div class="form-group form-inline justify-content-center">
          <label for="email" class="font-weight-bold mr-sm-2">Email:</label>
          <input type="text" name="email" class="form-control mr-sm-3" placeholder="email address" value="<%= user.email %>">
          <button class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- contentFor('title') %>
Forget Password

<style>
  .col-sm-6 {
    margin-top: 20px;
    margin-bottom: 250px;
  }

</style>